## Ignore Visual Studio & .NET build output files
.vs/
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.rsuser
*.suo
*.user
*.userquery
*.docstates

# Environment / Secret configs (optional)
appsettings.Development.json
appsettings.*.local.json
